@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

@import url("./variables.css");
@import url("./keyframes.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    at top,
    var(--radial-gradient-start),
    var(--radial-gradient-end)
  );
  min-height: 100dvh;
  padding-block: var(--spacing-24);

  display: flex;
  flex-direction: column;
}

:is(body, button) {
  font-family: var(--font-family);
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: clamp(300px, 85%, 700px);
  padding-block: var(--spacing-16);
  padding-inline: var(--spacing-32) var(--spacing-24);
  margin: 0 auto var(--spacing-32);
  border: var(--border-width-md) solid var(--header-outline);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-4);

  & .logo {
    align-self: stretch;
    width: 160px;
    background: url("../images/logo.svg") no-repeat center left / contain;

    &.bonus {
      background-image: url("../images/logo-bonus.svg");
    }
  }

  & .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-48);
    background-color: var(--color-light);
    border-radius: var(--border-radius-sm);

    line-height: var(--font-line-height-sm);

    & .title {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-semibold);
      color: var(--score-text);
      letter-spacing: var(--font-letter-spacing-md);
    }

    & .number {
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-bold);
      color: var(--color-dark);
    }
  }

  @media screen and (max-width: 425px) {
    padding: var(--spacing-12);

    & .score {
      padding: var(--spacing-8) var(--spacing-20);

      & .title {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-md);
      }

      & .number {
        font-size: var(--font-size-xl);
      }
    }
  }
}

.choice-btn {
  border-radius: var(--border-radius-circle);
  aspect-ratio: 1;
  background: var(--color-light) no-repeat center / 45%;
  border-style: solid;
  pointer-events: auto;
  box-shadow: 0 8px var(--shadow-color), inset 0 7px #cad5d6;

  &.disabled {
    cursor: default;
    pointer-events: none;

    &:focus-visible {
      outline: none;
    }
  }

  &:hover,
  &:focus-visible {
    outline: 24px solid rgba(255, 255, 255, 0.05);
  }
}

.choice-btn[data-choice="scissors"] {
  --shadow-color: var(--scissors-shadow-color);
  background-image: url("../images/icon-scissors.svg");
  border-color: var(--scissors-border-color);
}

.choice-btn[data-choice="rock"] {
  --shadow-color: var(--rock-shadow-color);
  background-image: url("../images/icon-rock.svg");
  border-color: var(--rock-border-color);
}

.choice-btn[data-choice="paper"] {
  --shadow-color: var(--paper-shadow-color);
  background-image: url("../images/icon-paper.svg");
  border-color: var(--paper-border-color);
}

.choice-btn[data-choice="lizard"] {
  --shadow-color: var(--lizard-shadow-color);
  background-image: url("../images/icon-lizard.svg");
  border-color: var(--lizard-border-color);
}

.choice-btn[data-choice="spock"] {
  --shadow-color: var(--spock-shadow-color);
  background-image: url("../images/icon-spock.svg");
  border-color: var(--spock-border-color);
}

.winner {
  position: relative;
  z-index: 1;

  &::before {
    --glow-ring-sm: 65px;
    --glow-ring-md: 135px;
    --glow-ring-lg: 218px;

    content: "";
    position: absolute;
    inset: -32px;
    bottom: -40px;
    border-radius: var(--border-radius-circle);
    z-index: -1;
    box-shadow: 0 0 0 var(--glow-ring-sm) rgba(255, 255, 255, 0.2),
      0 0 0 var(--glow-ring-md) rgba(255, 255, 255, 0.1),
      0 0 0 var(--glow-ring-lg) rgba(255, 255, 255, 0.05);
    animation: glow-rings 1.2s ease-out 1;

    @media screen and (max-width: 992px) {
      inset: -15px;
      bottom: -23px;
      --glow-ring-sm: 18px;
      --glow-ring-md: 45px;
      --glow-ring-lg: 75px;
    }
  }
}

main {
  padding-block: var(--spacing-80) var(--spacing-16);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 425px) {
    padding-block: var(--spacing-24) var(--spacing-8);
  }
}

:is(.choose, .waiting, .reveal) {
  display: none;

  &.active {
    display: flex;
  }
}

:is(.waiting, .reveal) .choice-btn {
  border-width: 32px;
  width: 292px;
}

@media screen and (max-width: 992px) {
  .reveal .choice-btn {
    border-width: 15px;
    width: 130px;
  }
}

@media screen and (max-width: 640px) {
  .waiting .choice-btn {
    border-width: 15px;
    width: 130px;
  }
}

:is(.waiting, .reveal) p {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-lg);
  letter-spacing: var(--font-letter-spacing-lg);
  color: var(--color-light);

  @media (max-width: 640px) {
    font-size: var(--font-size-sm);
    letter-spacing: var(--font-letter-spacing-sm);
  }
}

.choose {
  position: relative;
  background: url("../images/bg-triangle.svg") no-repeat center / contain;
  width: 300px;
  height: 285px;
  margin: var(--spacing-24) auto var(--spacing-80);

  @media screen and (max-width: 480px) {
    width: 275px;
    height: 250px;
  }

  &.bonus {
    background-image: url("../images/bg-pentagon.svg");
    width: 345px;
    height: 345px;

    @media screen and (max-width: 480px) {
      width: 300px;
      height: 300px;
    }
  }

  & .choice-btn {
    position: absolute;
    border-width: 24px;
    width: 198px;

    @media screen and (max-width: 480px) {
      width: 130px;
      border-width: 15px;
    }

    &.bonus {
      width: 145px;
      border-width: 16px;

      @media (max-width: 480px) {
        width: 98px;
        border-width: 12px;
      }
    }

    &[data-choice="scissors"] {
      top: -30%;
      right: -30%;

      @media screen and (max-width: 480px) {
        top: -20%;
        right: -15%;
      }

      &.bonus {
        left: 0;
        right: 0;
        margin-inline: auto;
        top: -20%;

        @media screen and (max-width: 480px) {
          top: -10%;
        }
      }
    }

    &[data-choice="rock"] {
      margin-inline: auto;
      left: 0;
      right: 0;
      bottom: -20%;

      &.bonus {
        bottom: unset;
        left: unset;
        top: 70%;
        right: 0;

        @media screen and (max-width: 480px) {
          top: 75%;
        }
      }
    }

    &[data-choice="paper"] {
      top: -30%;
      left: -30%;

      @media screen and (max-width: 480px) {
        top: -20%;
        left: -15%;
      }

      &.bonus {
        left: unset;
        top: 15%;
        right: -20%;

        @media screen and (max-width: 480px) {
          top: 20%;
          right: -10%;
        }
      }
    }

    &[data-choice="lizard"] {
      display: none;

      &.bonus {
        display: block;
        top: 70%;
        left: 0;

        @media screen and (max-width: 480px) {
          top: 75%;
        }
      }
    }

    &[data-choice="spock"] {
      display: none;

      &.bonus {
        display: block;
        top: 15%;
        left: -20%;

        @media screen and (max-width: 480px) {
          top: 20%;
          left: -10%;
        }
      }
    }
  }
}

.waiting {
  align-items: stretch;
  justify-content: center;
  gap: var(--spacing-72);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-64);
  }

  & .skeleton-container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    & .skeleton {
      aspect-ratio: 1;
      width: 225px;
      border-radius: var(--border-radius-circle);
      background-color: rgba(0, 0, 0, 0.1);
      animation: bounce 0.8s ease-in-out infinite;
    }
  }

  @media screen and (max-width: 640px) {
    gap: var(--spacing-48);

    & > div {
      flex-direction: column-reverse;
      gap: var(--spacing-16);
    }

    & .skeleton-container .skeleton {
      width: 110px;
    }
  }
}

.reveal {
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-56);

  & :is(.user-choice, .computer-choice) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-64);
  }

  & .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);

    & p {
      font-size: var(--font-size-2xl);
      line-height: var(--font-line-height-sm);
      font-weight: var(--font-weight-bold);
      letter-spacing: var(--font-letter-spacing-none);

      color: var(--color-light);
    }

    & button {
      background-color: var(--color-light);
      color: var(--color-dark);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-semibold);
      letter-spacing: var(--font-letter-spacing-md);
      padding: var(--spacing-16) var(--spacing-60);
      border-radius: var(--border-radius-sm);
      border: none;

      &:hover {
        color: #db2e4d;
      }
    }
  }

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;

    & .result {
      flex-basis: 100%;
      order: 3;
    }
  }

  @media screen and (max-width: 640px) {
    & :is(.user-choice, .computer-choice) {
      flex-direction: column-reverse;
      gap: var(--spacing-16);
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spacing-32);
  margin: var(--spacing-16) auto;
  max-width: 1320px;

  & .btn {
    font-size: var(--font-size-sm);
    letter-spacing: var(--font-letter-spacing-md);
    color: var(--color-light);
    background-color: transparent;

    padding: var(--spacing-12) var(--spacing-36);
    border-radius: var(--border-radius-sm);
    border: var(--border-width-sm) solid var(--color-light);

    &:hover {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
  }
}

dialog {
  position: fixed;
  max-height: 100%;
  max-width: 100%;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: var(--spacing-40);

  inset: 0;
  margin: auto;
  border: none;
  padding: var(--spacing-32);
  border-radius: var(--border-radius-sm);

  &[open] {
    display: flex;
  }

  & .title {
    color: var(--color-dark);
    font-size: var(--font-size-lg);
    line-height: var(--font-line-height-sm);
    letter-spacing: var(--font-letter-spacing-none);
    font-weight: var(--font-weight-bold);
  }

  & .close {
    background-color: transparent;
    border: none;
    outline: none;
  }

  & #rules-img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-none);

    flex-direction: column;
    justify-content: space-evenly;

    & .close {
      order: 3;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-16);
    min-width: fit-content;
    width: 60%;
    margin-inline: auto;

    & button {
      white-space: nowrap;
      width: fit-content;
      min-width: 100%;
      background-color: transparent;
      border: var(--border-width-sm) solid var(--color-dark);
      color: var(--color-dark);
      font-size: var(--font-size-sm);
      line-height: var(--font-line-height-sm);
      padding: var(--spacing-12) var(--spacing-16);
      border-radius: var(--border-radius-sm);

      &:hover {
        background-color: var(--color-dark);
        color: var(--color-light);
      }
    }
  }
}
