@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --scissors-gradient-start: hsl(39, 89%, 49%);
  --scissors-gradient-end: hsl(40, 84%, 53%);

  --paper-gradient-start: hsl(230, 89%, 62%);
  --paper-gradient-end: hsl(230, 89%, 65%);

  --rock-gradient-start: hsl(349, 71%, 52%);
  --rock-gradient-end: hsl(349, 70%, 56%);

  --lizard-gradient-start: hsl(261, 73%, 60%);
  --lizard-gradient-end: hsl(261, 72%, 63%);

  --spock-gradient-start: hsl(189, 59%, 53%);
  --spock-gradient-end: hsl(189, 58%, 57%);

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);

  --header-outline: hsl(217, 16%, 45%);

  --radial-gradient-start: hsl(214, 47%, 23%);
  --radial-gradient-end: hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
    at top,
    var(--radial-gradient-start),
    var(--radial-gradient-end)
  );
  min-height: 100dvh;
  padding-top: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: clamp(300px, 85%, 700px);
  margin-bottom: 64px;
  padding: 18px 24px 18px 32px;
  margin-inline: auto;
  border: 3px solid var(--header-outline);
  border-radius: 16px;

  & .logo {
    align-self: stretch;
    width: 155px;
    background-image: url("./images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;

    &.bonus {
      background-image: url("./images/logo-bonus.svg");
    }
  }

  & .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    background-color: #fff;
    border-radius: 8px;

    line-height: 1;

    & .title {
      font-size: 1rem;
      font-weight: 600;
      color: var(--score-text);
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }

    & .number {
      font-size: 4rem;
      font-weight: 700;
      color: var(--dark-text);
    }
  }

  @media screen and (max-width: 425px) {
    padding: 12px;

    & .score {
      padding: 10px 22px;

      & .title {
        font-size: 10px;
        line-height: 1.2;
      }

      & .number {
        font-size: 40px;
      }
    }
  }
}

.choice-btn {
  border-radius: 50%;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: white;
  border-style: solid;
  cursor: pointer;
  pointer-events: auto;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    outline: 24px solid rgba(255, 255, 255, 0.05);
  }
}

.choice-btn[data-choice="scissors"] {
  background-image: url("./images/icon-scissors.svg");
  box-shadow: 0 8px #cb7f1a, inset 0 7px #cad5d6;
  border-color: var(--scissors-gradient-start);
}

.choice-btn[data-choice="rock"] {
  background-image: url("./images/icon-rock.svg");
  box-shadow: 0 8px #a90f2b, inset 0 7px #cad5d6;
  border-color: var(--rock-gradient-start);
}

.choice-btn[data-choice="paper"] {
  background-image: url("./images/icon-paper.svg");
  box-shadow: 0 8px #3550d4, inset 0 7px #cad5d6;
  border-color: var(--paper-gradient-start);
}

.choice-btn[data-choice="lizard"] {
  background-image: url("./images/icon-lizard.svg");
  box-shadow: 0 8px #683db8, inset 0 7px #cad5d6;
  border-color: var(--lizard-gradient-start);
}

.choice-btn[data-choice="spock"] {
  background-image: url("./images/icon-spock.svg");
  box-shadow: 0 8px #3691a1, inset 0 7px #cad5d6;
  border-color: var(--spock-gradient-start);
}

.winner {
  position: relative;
  z-index: 1;
}

.winner::before {
  --glow-ring-sm: 65px;
  --glow-ring-md: 135px;
  --glow-ring-lg: 218px;

  content: "";
  position: absolute;
  inset: -32px;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 0 var(--glow-ring-sm) rgba(255, 255, 255, 0.2),
    0 0 0 var(--glow-ring-md) rgba(255, 255, 255, 0.1),
    0 0 0 var(--glow-ring-lg) rgba(255, 255, 255, 0.05);
  animation: winner-pulse 1.2s ease-out 1;

  @media screen and (max-width: 992px) {
    inset: -15px;
    --glow-ring-sm: 18px;
    --glow-ring-md: 45px;
    --glow-ring-lg: 75px;
  }
}

@keyframes winner-pulse {
  0% {
    box-shadow: none;
  }

  33% {
    box-shadow: 0 0 0 var(--glow-ring-sm) rgba(255, 255, 255, 0.2);
  }

  66% {
    box-shadow: 0 0 0 var(--glow-ring-sm) rgba(255, 255, 255, 0.2),
      0 0 0 var(--glow-ring-md) rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 var(--glow-ring-sm) rgba(255, 255, 255, 0.2),
      0 0 0 var(--glow-ring-md) rgba(255, 255, 255, 0.1),
      0 0 0 var(--glow-ring-lg) rgba(255, 255, 255, 0.05);
  }
}

main {
  padding-block: 80px;
}

.choose {
  display: none;
  position: relative;

  background-image: url("./images/bg-triangle.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 300px;
  height: 285px;

  &.bonus {
    background-image: url("./images/bg-pentagon.svg");
    width: 345px;
    height: 345px;
  }

  margin-block: 24px 80px;
  margin-inline: auto;

  & .choice-btn {
    position: absolute;

    border-width: 24px;
    border-style: solid;

    width: 198px;
    &.bonus {
      width: 145px;
    }

    &[data-choice="scissors"] {
      top: -30%;
      right: -30%;

      &.bonus {
        left: 0;
        right: 0;
        margin-inline: auto;
        top: -20%;
      }
    }

    &[data-choice="rock"] {
      margin-inline: auto;
      left: 0;
      right: 0;
      bottom: -20%;

      &.bonus {
        bottom: unset;
        left: unset;
        top: 70%;
        right: 0;
      }
    }

    &[data-choice="paper"] {
      top: -30%;
      left: -30%;

      &.bonus {
        left: unset;
        top: 15%;
        right: -20%;
      }
    }

    &[data-choice="lizard"] {
      display: none;
      &.bonus {
        display: block;
        top: 70%;
        left: 0;
      }
    }

    &[data-choice="spock"] {
      display: none;
      &.bonus {
        display: block;
        top: 15%;
        left: -20%;
      }
    }
  }
}

.waiting {
  display: none;
  align-items: stretch;
  justify-content: center;
  gap: 72px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  & p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
  }

  & .skeleton-container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    & .skeleton {
      aspect-ratio: 1;
      width: 225px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  & .choice-btn {
    border-width: 32px;
    width: 292px;
  }

  @media screen and (max-width: 640px) {
    gap: 50px;

    & > div {
      flex-direction: column-reverse;
      gap: 16px;
    }

    & p {
      font-size: 15px;
      letter-spacing: 1.88px;
    }

    & .skeleton-container .skeleton {
      width: 110px;
    }

    & .choice-btn {
      border-width: 15px;
      width: 130px;
    }
  }
}

.reveal {
  display: none;
  justify-content: center;
  align-items: stretch;
  gap: 56px;

  & .user-choice,
  .computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    & .choice-btn {
      border-width: 32px;
      width: 292px;
    }

    & p {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
    }
  }

  & .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & p {
      font-size: 56px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: uppercase;
      color: #fff;
    }

    & button {
      text-transform: uppercase;
      background-color: #fff;
      color: #3b4262;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 2.5px;
      padding: 16px 60px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        color: #db2e4d;
      }
    }
  }

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;

    & .user-choice .choice-btn,
    & .computer-choice .choice-btn {
      width: 130px;
      border-width: 15px;
    }

    & .result {
      flex-basis: 100%;
      order: 3;
    }
  }

  @media screen and (max-width: 640px) {
    & .user-choice,
    & .computer-choice {
      flex-direction: column-reverse;
      gap: 16px;
    }

    & .user-choice p,
    & .computer-choice p {
      font-size: 15px;
      letter-spacing: 1.88px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 32px;
  margin: 16px auto;
  max-width: 1320px;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    width: fit-content;
    align-items: stretch;
    gap: 16px;
  }

  & .btn {
    font-size: 16px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;

    padding: 12px 36px;

    border-radius: 8px;
    border: 1px solid #fff;

    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

dialog {
  position: fixed;
  max-height: 100%;
  max-width: 100%;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  border: none;
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;

  &[open] {
    display: flex;
  }

  & .title {
    color: #3b4262;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  & #close-rules {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  & #rules-img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 100%;
    border-radius: 0;

    flex-direction: column;
    justify-content: space-evenly;

    & #close-rules {
      order: 3;
    }
  }
}

.active {
  display: flex;
}
